body {
    font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
    color: #2E2F42;
}

.company-logo {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.167;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
}

.company-logo em {
    font-style: normal;
    color: #4D5AE5;
}

.page-nav .link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2E2F42;
    text-decoration: none;
}

.company-contacts .link {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    /*color: #fff;*/
}

#order-button {
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.section-text,
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.footer-text {
    /*color: #F4F4FD;*/
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}

ul {
    list-style-type: none;
}